@font-family{
	font-family: Courier Prime;
	src: url('CourierPrime-Regular.tff');
}
#div1{
	color: white;
}
#div5{
	width:400px;
	height: 550px;
	margin: auto;
	color: white;
	font-size: 20px;
}
#banner{
	width: 600px;
	margin: auto;
}
#div4{
	color: white;
}
#div3{
	background-color: transparent;
	width: 500px;
	margin: auto;
	padding: auto;
	line-height: 5px;
	color: rgb(208, 208, 212);
}
#p2{
	line-height: 20px;
	font-size: 15px;
}
img{
	width: 15%;
}
body{
	font-family: Courier Prime;
	text-align: center;
	background-color: rgb(12, 13, 13);
	color: rgb(120, 120, 120);
}
a:link {
	color: rgb(255, 255, 255);
	background-color: transparent;
	text-decoration: none;
	font-size: 25px;
	top: 20px;
	right: 20px;
}

a:visited {
	color: rgb(255, 255, 255);
	background-color: transparent;
	text-decoration: none;
}

a:hover {
  color: #869a81;
  background-color: transparent;
}

a:active {
	color: rgb(255, 255, 255);
	background-color: transparent;
	text-decoration: none;
}
.one{
    display: inline; 
    color: rgb(255, 255, 255);
	font-size: 20px
}
a{
	font-size: 10px;
}
#p3{
	color: white;
	font-size: 200px;
}